<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bevstudio.wolfbooksapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <queries>
        <intent>
            <action
                android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/wolfbooks_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.bevstudio.wolfbooksapp.view.activity.CategoriesListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bevstudio.wolfbooksapp.view.activity.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bevstudio.wolfbooksapp.view.activity.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name="com.bevstudio.wolfbooksapp.view.activity.BookInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bevstudio.wolfbooksapp.view.activity.NavigationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>